///* wellness-form */
///***********************************************/
.wellness-form {
  $self: &;

  &__box {
    position: relative;

    .ui-btn {
      position: absolute;
      right: -1px;
      top: 0;
    }
  }
}

