///* fonts */
///***********************************************/
$fontsStyle: Electronica, sans-serif;

// breakpoints
$ss-media-breakpoints: (
  xs: 480px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1330px,
  xxl: 1600px,
);

// columns
$ss-columns-size: 24;
