///* features */
///***********************************************/
.features {
  $self: &;
  padding: 0 15px 60px 15px;
  overflow: hidden;

  .container {
    position: relative;
    z-index: 10;
  }

  @include mq(md) {
    padding-bottom: 100px;
  }

  @include mq(xl) {
    padding: 0 25px 178px 25px;
  }

  &__box {
    max-width: 1650px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    background-color: #7752e8;
    position: relative;
    z-index: 1;

    &-decor1 {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 50%;
      overflow: hidden;
      z-index: 1;
      border-radius: 6px;
      &-in {
        position: absolute;
        width: em(687);
        height: em(722);
        z-index: -1;
        transform: translateY(-50%);
        top: 50%;
        left: 0;
        display: none;
        @include mq(lg) {
          display: block;
          font-size: 8px;
        }
        @include mq(xl) {
          font-size: 12px;
        }
        @include mq(xxl) {
          font-size: 16px;
        }
        img {
          vertical-align: top;
          width: 100%;
          height: 100%;
        }
      }

    }

    &-decor2 {
      position: absolute;
      width: em(386);
      height: em(314);
      z-index: -1;
      bottom: 0;
      right: em(-90);
      display: none;
      @include mq(lg) {
        display: block;
        font-size: 8px;
      }
      @include mq(xl) {
        display: block;
        font-size: 12px;
      }
      @include mq(xxl) {
        font-size: 16px;
      }
      img {
        vertical-align: top;
        width: 100%;
        height: 100%;
      }
    }

    &-in {
      padding: 40px 0;

      @include mq(lg) {
        padding: 90px 0 100px 200px;
      }
      @include mq(xl) {
        padding: 90px 0 100px 320px;
      }
      @include mq(xxl) {
        padding: 174px 0 186px 320px;
      }
    }
  }

  &__title {
    font-family: $fontsStyle;
    font-weight: bold;
    line-height: 1.11;
    color: #fff;
    margin: em(0 0 50 0, 44);
    font-size: 30px;
    @include mq(lg) {
      font-size: 44px;
    }
  }

  &__list {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    @include mq(lg) {
      flex-direction: row;
    }
  }

  &__item {
    padding: 0;
    margin: 40px 0 0 0;
    @include mq(md) {
      margin-top: 0;
    }
    @include mq(lg) {
      @include col(8, 3, 20px);
    }

    &:first-child {
      margin-top: 0;
    }

    &-title {
      font-family: $fontsStyle;
      text-transform: none;
      font-size: em(26px);
      font-weight: bold;
      line-height: em(34px, 26);
      color: #fff;
      margin: 0 0 em(24, 26) -4px;
      position: relative;
      letter-spacing: normal;

      span {
        display: inline;
        padding: 0 4px;
        background-color: #00c4c7;
        box-shadow: -4px 0 0 #00c4c7, 4px 0 0 #00c4c7;
        box-decoration-break: clone;
        color: transparent;
        letter-spacing: normal;

        &:after {
          padding: 0 4px;
          color: #fff;
          content: attr(data-descr);
          position: absolute;
          letter-spacing: normal;
          left: 0;
          top: 0;
          z-index: 10;
          width: 100%;
        }
      }

    }

    &-note {
      font-size: em(17px);
      line-height: 1.59;
      color: #fff;
    }
  }
}
